h1 {    color:#c1d9ff;}
h2{ color:#c1d9ff;}
h2 {color:#c1d9ff;}
h3 {color:#c1d9ff;}
h4 {color:#c1d9ff;}
body {background-image: url('http://i.dailymail.co.uk/i/pix/2017/04/06/11/3F006CA900000578-4386078-image-a-15_1491475710861.jpg');
background-size:cover
}
#hi { color: violet}
.ok {color: yellow}